{% extends 'customer/base.html' %}
{% load bootstrap4 %}

{% block head %}
<script src="https://js.stripe.com/v3/"></script>

<style>
    .StripeElement {
        height: 40px;
        padding: 10px 12px;
        width: 100%;
        color: #32325d;
        background-color: white;
        border: 1px solid #ced4da;
        border-radius: 4px;
        box-shadow: 0 1px 3px 0 #e6ebf1;
        -webkit-transition: box-shadow 150ms ease;
        transition: box-shadow 150ms ease;
    }
    .StripeElement--focus {
        border-color: #80bdff;
        box-shadow: 0 1px 3px 0 #cfd7df;
    }
    .StripeElement--invalid {
        border-color: #fa755a;
    }
    .StripeElement--webkit-autofill {
        background-color: #fefde5 !important;
    }
</style>
{% endblock %}

{% block main %}

{% if not request.user.customer.stripe_payment_method_id %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    Let's add your Credit/Debit card to <strong> Create a Job </strong> !
    <button type="button" class="close" data-dismiss="alert" aria-lable="close">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
{%endif%}

<b class="text-secondary">Your Credit/Debit card</b>
<div class="card bb-white mt-2 mb-5"> 
    <div class="card-body">
        
        {% if request.user.customer.stripe_payment_method_id %}
            <div id="change-card" class="input-group">
                <input type="text" class="form-control" disabled value="**** **** **** {{ request.user.customer.stripe_card_last4}}"
                <div class="input-group-append">
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Remove</button>
                </div>
            </div>
        {% else %}
            <form id="setup-form" data-secret="{{ client_secret }}">
            <div id="card-element"></div>
            <button id="card-button" class="btn btn-warning mt-3" type="submit">
                Save Card
            </button>
            </form>
        {% endif %}
    </div>
</div> 

{% if not request.user.customer.stripe_payment_method_id %}
<script>
    var stripe = Stripe("{{ STRIPE_API_PUBLIC_KEY }}");

    var elements = stripe.elements();
    var cardElement = elements.create('card');
    cardElement.mount('#card-element');

    var cardholderName = document.getElementById('cardholder-name');
    var setupForm = document.getElementById('setup-form');
    var clientSecret = "{{ client_secret }}";

    setupForm.addEventListener('submit', function(ev) {
        ev.preventDefault();
        stripe.confirmCardSetup(
            clientSecret,
            {
                payment_method: {
                    card: cardElement,  
                },
            }
        ).then(function(result) {
            if (result.error) {
                toast(result.error, "error");
            } else {
                toast("Payment method is added", "success");
                window.location.reload();
            }
        });
    });
</script>
{% endif %}
{% endblock %}