<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-messaging.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyB7Flkipb68FWgcTwZB7jr16UMJbQxzYbQ",
    authDomain: "curiereats.firebaseapp.com",
    projectId: "curiereats",
    storageBucket: "curiereats.appspot.com",
    messagingSenderId: "526444542314",
    appId: "1:526444542314:web:4a4958f42f6993ed438d13"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>